.heading{
    text-align: center;
    margin-top: 25px;
    background-color:#ff7675;
    padding: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}